{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Nova Tarefa</title>
	</head>
	<body>
		<div class="container">
			<h2 class="text-center">Nova Tarefa</h2>
			<form action="new" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label for="title">Título:</label>
					<input type="text" class="form-control" id="title" name="title" />
				</div>
				<div class="form-group">
					<label for="description">Descrição:</label>
					<textarea
						class="form-control"
						rows="5"
						id="description"
						name="description"
					></textarea>
				</div>
				<div class="form-group">
					<label for="category">Categoria:</label>
					<select class="form-control" id="category" name="category">
						<option value="pessoal">Pessoal</option>
						<option value="trabalho">Trabalho</option>
						<option value="estudo">Estudo</option>
					</select>
				</div>
				<div class="form-group">
					<label for="endDate">Data de Vencimento:</label>
					<input
						type="date"
						class="form-control"
						id="endDate"
						name="endDate"
					/>
				</div>
				<button type="submit" class="btn btn-primary">Criar</button>
			</form>
		</div>
	</body>
</html>

{% endblock %}
